:root {
  --orange: hsl(25, 97%, 53%);
  --light-gray: hsl(217, 12%, 63%);
  --medium-gray: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

html {
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: hsl(0, 0%, 5%);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--very-dark-blue);
  width: 375px;
  height: 665px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-container {
  width: 326px;
  height: 360px;
  background-color: hsl(215, 21%, 14%);
  border-radius: 17px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.star-circle {
  background-color: var(--dark-blue);
  border-radius: 50%;
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#star {
  scale: 85%;
}

.heading {
  color: white;
  font-size: 1.56em;
  padding: 1.28rem 0 0.8rem 0;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.main-text {
  color: var(--light-gray);
  letter-spacing: -0.2px;
  font-size: 14.5px;
  line-height: 1.5em;
}

.number-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.9rem;
}

.rating-circle {
  background-color: hsl(210, 19%, 18%);
  border-radius: 999px;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--medium-gray);
  font-size: 13px;
  padding-top: 0.2rem;
  cursor: pointer;
}

.rating-circle:hover {
  background-color: var(--orange);
  color: white;
}

.active {
  background-color: var(--medium-gray);
  color: white;
}

.submit-btn {
  background-color: var(--orange);
  color: white;
  width: 100%;
  border-radius: 25px;
  outline: none;
  border: none;
  margin-top: 1.5rem;
  padding: 1.1rem 0 0.9rem 0;
  letter-spacing: 2.5px;
  font-size: 12.5px;
  font-weight: 600;
  cursor: pointer; 
}

.submit-btn:hover {
  background-color: white;
  color: var(--orange);
}

/*   THANK YOU PAGE    */

.thank-you-container {
  width: 326px;
  height: 360px;
  background-color: hsl(215, 23%, 14%);
  border-radius: 17px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#thank-you-svg {
  scale: 89%;
  margin-top: .275rem;
  margin-left: 2px;
}

.rating-message { 
  background-color: hsl(210, 19%, 18%);
  border-radius: 999px;
  width: 168px;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--orange);
  font-size: 13px;
  padding-top: 0.2rem;
  padding-left: .4rem;
  padding-right: .4rem;
  margin-top: 1.2rem;
  font-size: 14px;
  letter-spacing: .1px;
}

.thank-you-heading {
  color: white;
  font-size: 1.56em;
  padding: 1.28rem 0 0.8rem 0;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin-top: .5rem;
}

.thank-you-text {
  color: var(--light-gray);
  letter-spacing: -0.2px;
  font-size: 14.5px;
  line-height: 1.5em;
  text-align: center;
}